main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    'h      h       h'
    'asbal  ar   asjobb'
    'f      f       f'
    ;
}

main{
    border: 1px solid lightgray;
}

header h1{
    text-align: center;
    padding: 20px;
}

header {
    border: 1px solid lightgray;
    padding: 10px;
    grid-area: h;
    
}

#bal{
    border: 1px solid lightgray;
    padding: 10px;
    grid-area: asbal;
    
}

#jobb{
    border: 1px solid lightgray;
    padding: 10px;
    grid-area: asjobb;
}

article{
    border: 1px solid lightgray;
    padding: 5px;
    grid-area: ar;
}

#bal p img {
    float: left;
    width: 200px;
    height: 150px;
}

footer{
    grid-area: f;
     border: 1px solid lightgray;
}